<require path="@surface/components/stack-layout" />

<style>
    fieldset
    {
        display: flex;
        height: 200px;
        width:  200px;
    }

    surface-stack-layout
    {
        margin: auto;
        height: 180px;
        width:  180px;
    }
</style>
<fieldset>
    <legend>Default</legend>
    <surface-stack-layout>
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
    </surface-stack-layout>
</fieldset>

<fieldset>
    <legend>Top position</legend>
    <surface-stack-layout orientation="vertical" position="top">
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
    </surface-stack-layout>
</fieldset>

<fieldset>
    <legend>Top Right position</legend>
    <surface-stack-layout orientation="vertical" position="top-right">
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
    </surface-stack-layout>
</fieldset>

<fieldset>
    <legend>Right position</legend>
    <surface-stack-layout orientation="vertical" position="right">
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
    </surface-stack-layout>
</fieldset>

<fieldset>
    <legend>Bottom Right position</legend>
    <surface-stack-layout orientation="vertical" position="bottom-right">
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
    </surface-stack-layout>
</fieldset>

<fieldset>
    <legend>Bottom position</legend>
    <surface-stack-layout orientation="vertical" position="bottom">
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
    </surface-stack-layout>
</fieldset>

<fieldset>
    <legend>Bottom Left position</legend>
    <surface-stack-layout orientation="vertical" position="bottom-left">
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
    </surface-stack-layout>
</fieldset>

<fieldset>
    <legend>Left position</legend>
    <surface-stack-layout orientation="vertical" position="left">
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
    </surface-stack-layout>
</fieldset>

<fieldset>
    <legend>Top Left position</legend>
    <surface-stack-layout orientation="vertical" position="top-left">
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
    </surface-stack-layout>
</fieldset>

<fieldset>
    <legend>Center</legend>
    <surface-stack-layout orientation="vertical" position="center">
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
    </surface-stack-layout>
</fieldset>

<fieldset>
    <legend>Justify</legend>
    <surface-stack-layout orientation="vertical" position="center" justify="true">
        <span>item 1</span>
        <span>item 2</span>
        <span>item 3</span>
    </surface-stack-layout>
</fieldset>