[submodule "modules"]
	path = modules
	url = https://github.com/SurfaceJS/surface.git
[submodule "vscode-htmlx-language-features"]
	path = vscode-htmlx-language-features
	url = https://github.com/SurfaceJS/vscode-htmlx-language-features.git
[submodule "template-generator"]
	path = template-generator
	url = https://github.com/SurfaceJS/template-generator.git
