<surface-import from="@surface/components/stack-panel" />

<style>
    div
    {
        display:  flex;
        overflow: auto;
    }

    surface-stack-panel
    {
        border: solid 1px gray;
        margin: auto;
        height: 200px;
        width:  200px;
    }
</style>

<div>
    <fieldset>
        <legend>vertical</legend>
        <surface-stack-panel>
            <button>item 1</button>
            <button>item 2</button>
            <button>item 3</button>
        </surface-stack-panel>
    </fieldset>
    <fieldset>
        <legend>vertical reverse</legend>
        <surface-stack-panel orientation="vertical" reverse="true">
            <button>item 1</button>
            <button>item 2</button>
            <button>item 3</button>
        </surface-stack-panel>
    </fieldset>
    <fieldset>
        <legend>horizontal</legend>
        <surface-stack-panel orientation="horizontal">
            <button>item 1</button>
            <button>item 2</button>
            <button>item 3</button>
        </surface-stack-panel>
    </fieldset>
    <fieldset>
        <legend>horizontal reverse</legend>
        <surface-stack-panel orientation="horizontal" reverse="true">
            <button>item 1</button>
            <button>item 2</button>
            <button>item 3</button>
        </surface-stack-panel>
    </fieldset>
</div>
<h1>vertical - vertical-align</h1>
<div class="vertical-align">
    <fieldset>
        <legend>distribuition justify</legend>
        <surface-stack-panel orientation="vertical" distribuition="justify">
            <button>item 1</button>
            <button>item 2</button>
            <button>item 3</button>
        </surface-stack-panel>
    </fieldset>
    <fieldset>
        <legend>distribuition center</legend>
        <surface-stack-panel orientation="vertical" distribuition="center">
            <button>item 1</button>
            <button>item 2</button>
            <button>item 3</button>
        </surface-stack-panel>
    </fieldset>
    <fieldset>
        <legend>top</legend>
        <surface-stack-panel orientation="vertical">
            <button vertical-align="top">item 1</button>
            <button vertical-align="top">item 2</button>
            <button vertical-align="top">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>center</legend>
        <surface-stack-panel orientation="vertical">
            <button vertical-align="center">item 1</button>
            <button vertical-align="center">item 2</button>
            <button vertical-align="center">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>bottom</legend>
        <surface-stack-panel orientation="vertical">
            <button vertical-align="bottom">item 1</button>
            <button vertical-align="bottom">item 2</button>
            <button vertical-align="bottom">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>top center bottom</legend>
        <surface-stack-panel orientation="vertical">
            <button vertical-align="top">item 1</button>
            <button vertical-align="center">item 2</button>
            <button vertical-align="bottom">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>bottom center top</legend>
        <surface-stack-panel orientation="vertical">
            <button vertical-align="bottom">item 1</button>
            <button vertical-align="center">item 2</button>
            <button vertical-align="top">item 3</button>
        </surface-stack-panel>
    </fieldset>
</div>
<h1>vertical - horizontal-align</h1>
<div class="horizontal-align">
    <fieldset>
        <legend>left</legend>
        <surface-stack-panel orientation="vertical">
            <button horizontal-align="left">item 1</button>
            <button horizontal-align="left">item 2</button>
            <button horizontal-align="left">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>center</legend>
        <surface-stack-panel orientation="vertical">
            <button horizontal-align="center">item 1</button>
            <button horizontal-align="center">item 2</button>
            <button horizontal-align="center">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>right</legend>
        <surface-stack-panel orientation="vertical">
            <button horizontal-align="right">item 1</button>
            <button horizontal-align="right">item 2</button>
            <button horizontal-align="right">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>left center right</legend>
        <surface-stack-panel orientation="vertical">
            <button horizontal-align="left">item 1</button>
            <button horizontal-align="center">item 2</button>
            <button horizontal-align="right">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>right center left</legend>
        <surface-stack-panel orientation="vertical">
            <button horizontal-align="right">item 1</button>
            <button horizontal-align="center">item 2</button>
            <button horizontal-align="left">item 3</button>
        </surface-stack-panel>
    </fieldset>
</div>
<h1>horizontal - vertical-align</h1>
<div class="vertical-align">
    <fieldset>
        <legend>justify</legend>
        <surface-stack-panel orientation="horizontal" distribuition="justify">
            <button>item 1</button>
            <button>item 2</button>
            <button>item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>distribuition center</legend>
        <surface-stack-panel orientation="horizontal" distribuition="center">
            <button>item 1</button>
            <button>item 2</button>
            <button>item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>top</legend>
        <surface-stack-panel orientation="horizontal">
            <button vertical-align="top">item 1</button>
            <button vertical-align="top">item 2</button>
            <button vertical-align="top">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>center</legend>
        <surface-stack-panel orientation="horizontal">
            <button vertical-align="center">item 1</button>
            <button vertical-align="center">item 2</button>
            <button vertical-align="center">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>bottom</legend>
        <surface-stack-panel orientation="horizontal">
            <button vertical-align="bottom">item 1</button>
            <button vertical-align="bottom">item 2</button>
            <button vertical-align="bottom">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>top center bottom</legend>
        <surface-stack-panel orientation="horizontal">
            <button vertical-align="top">item 1</button>
            <button vertical-align="center">item 2</button>
            <button vertical-align="bottom">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>bottom center top</legend>
        <surface-stack-panel orientation="horizontal">
            <button vertical-align="bottom">item 1</button>
            <button vertical-align="center">item 2</button>
            <button vertical-align="top">item 3</button>
        </surface-stack-panel>
    </fieldset>
</div>
<h1>horizontal - horizontal-align</h1>
<div class="horizontal-align">
    <fieldset>
        <legend>left</legend>
        <surface-stack-panel orientation="horizontal">
            <button horizontal-align="left">item 1</button>
            <button horizontal-align="left">item 2</button>
            <button horizontal-align="left">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>center</legend>
        <surface-stack-panel orientation="horizontal">
            <button horizontal-align="center">item 1</button>
            <button horizontal-align="center">item 2</button>
            <button horizontal-align="center">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>right</legend>
        <surface-stack-panel orientation="horizontal">
            <button horizontal-align="right">item 1</button>
            <button horizontal-align="right">item 2</button>
            <button horizontal-align="right">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>left center right</legend>
        <surface-stack-panel orientation="horizontal">
            <button horizontal-align="left">item 1</button>
            <button horizontal-align="center">item 2</button>
            <button horizontal-align="right">item 3</button>
        </surface-stack-panel>
    </fieldset>

    <fieldset>
        <legend>right center left</legend>
        <surface-stack-panel orientation="horizontal">
            <button horizontal-align="right">item 1</button>
            <button horizontal-align="center">item 2</button>
            <button horizontal-align="left">item 3</button>
        </surface-stack-panel>
    </fieldset>
</div>