<require path="@surface/components/container" />
<require path="@surface/components/data-table" />
<require path="@surface/components/stack-panel" />
<require path="@surface/components/switch" />

<surface-container style="width: 100%;">
    <fieldset horizontal-align="center">
        <legend>Manual</legend>
        <surface-data-table datasource="[[host.datasource]]">
            <surface-data-row>
                <surface-data-cell>Column 1</surface-data-cell>
                <surface-data-cell>Column 2</surface-data-cell>
                <surface-data-cell>Column 3</surface-data-cell>
                <surface-data-cell>Column 4</surface-data-cell>
                <surface-data-cell>Column 5</surface-data-cell>
            </surface-data-row>
            <surface-data-row>
                <surface-data-cell>Column 1</surface-data-cell>
                <surface-data-cell>Column 2</surface-data-cell>
                <surface-data-cell>Column 3</surface-data-cell>
                <surface-data-cell>Column 4</surface-data-cell>
                <surface-data-cell>Column 5</surface-data-cell>
            </surface-data-row>
        </surface-data-table>
    </fieldset>
    <fieldset horizontal-align="center">
        <legend>Simple</legend>
        <surface-data-table datasource="[[host.datasource]]">
            <template>
                <column-definition style="width: 50px;" header="Id"       field="id"></column-definition>
                <column-definition                      header="Name"     field="name"></column-definition>
                <column-definition                      header="Email"    field="email"></column-definition>
                <column-definition                      header="Country"  field="country.name"></column-definition>
                <column-definition                      header="Initials" field="country.initials"></column-definition>
                <column-definition                      header="Active"   field="active"></column-definition>
            </template>
        </surface-data-table>
    </fieldset>
    <fieldset horizontal-align="center">
        <legend>Simple</legend>
        <surface-data-table datasource="[[host.datasource]]">
            <template>
                <column-definition header="Id"       field="id"               footer="heading"></column-definition>
                <column-definition header="Name"     field="name"             footer="heading"></column-definition>
                <column-definition header="Email"    field="email"            footer="heading"></column-definition>
                <column-definition header="Country"  field="country.name"     footer="heading"></column-definition>
                <column-definition header="Initials" field="country.initials" footer="heading"></column-definition>
                <column-definition header="Active"   field="active"           footer="heading"></column-definition>
            </template>
        </surface-data-table>
    </fieldset>
    <fieldset horizontal-align="center">
        <legend>With Actions</legend>
        <surface-data-table datasource="[[host.datasource]]">
            <template>
                <column-definition style="width: 50px;"                                          header="Id"       field="id"               editable="false"></column-definition>
                <column-definition style="width: calc((100% - 280px) * 0.5);"                    header="Name"     field="name"             editable="true"></column-definition>
                <column-definition style="width: calc((100% - 280px) * 0.25);"                   header="Email"    field="email"            editable="true"></column-definition>
                <column-definition style="width: calc((100% - 280px) * 0.25);" header="Country"  field="country.name"                       editable="true"></column-definition>
                <column-definition style="width: 60px;"                                          header="Initials" field="country.initials" editable="true"></column-definition>
                <column-definition style="width: 60px;"                                          header="Active"   field="active"           editable="true"></column-definition>
                <column-definition style="width: 120px;" edit-buttom="true" delete-buttom="true"></column-definition>
            </template>
        </surface-data-table>
    </fieldset>
    <fieldset horizontal-align="center">
        <legend>Custom Header</legend>
        <surface-data-table datasource="[[host.datasource]]">
            <surface-data-header>
                <surface-data-row>
                    <surface-data-cell><span horizontal-align="center"><u>Id</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Name</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Email</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Country</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Initials</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Active</u></span></surface-data-cell>
                </surface-data-row>
            </surface-data-header>
            <template>
                <column-definition field="id"></column-definition>
                <column-definition field="name"></column-definition>
                <column-definition field="email"></column-definition>
                <column-definition field="country.name"></column-definition>
                <column-definition field="country.initials"></column-definition>
                <column-definition field="active"></column-definition>
            </template>
        </surface-data-table>
    </fieldset>
    <fieldset horizontal-align="center">
        <legend>Custom Footer</legend>
        <surface-data-table datasource="[[host.datasource]]">
            <surface-data-header>
                <surface-data-row>
                    <surface-data-cell><span horizontal-align="center"><u>Id</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Name</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Email</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Country</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Initials</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Active</u></span></surface-data-cell>
                </surface-data-row>
            </surface-data-header>
            <surface-data-footer>
                <surface-data-row>
                    <surface-data-cell><span horizontal-align="center"><u>Id</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Name</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Email</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Country</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Initials</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Active</u></span></surface-data-cell>
                </surface-data-row>
            </surface-data-footer>
            <template>
                <column-definition field="id"></column-definition>
                <column-definition field="name"></column-definition>
                <column-definition field="email"></column-definition>
                <column-definition field="country.name"></column-definition>
                <column-definition field="country.initials"></column-definition>
                <column-definition field="active"></column-definition>
            </template>
        </surface-data-table>
    </fieldset>
    <fieldset horizontal-align="center">
        <legend>Template and custom</legend>
        <surface-data-table datasource="[[host.datasource]]">
            <surface-data-header>
                <surface-data-row>
                    <surface-data-cell><span horizontal-align="center"><u>Id</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Name</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Email</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Country</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Initials</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Active</u></span></surface-data-cell>
                </surface-data-row>
            </surface-data-header>            
            <surface-data-footer id="footer">
                <surface-data-row>
                    <surface-data-cell><span horizontal-align="center"><u>Id</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Name</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Email</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Country</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Initials</u></span></surface-data-cell>
                    <surface-data-cell><span horizontal-align="center"><u>Active</u></span></surface-data-cell>
                </surface-data-row>
            </surface-data-footer>
            <template>
                <column-definition header="Id"       field="id"               footer="heading"></column-definition>
                <column-definition header="Name"     field="name"             footer="heading"></column-definition>
                <column-definition header="Email"    field="email"            footer="heading"></column-definition>
                <column-definition header="Country"  field="country.name"     footer="heading"></column-definition>
                <column-definition header="Initials" field="country.initials" footer="heading"></column-definition>
                <column-definition header="Active"   field="active"           footer="heading"></column-definition>
            </template>
        </surface-data-table>
    </fieldset>
</surface-container>