fieldset
{
    display: flex;
    width:   calc(100% - 28px);
}

surface-data-table
{
    border: solid 1px red;
}

surface-data-cell
{
    border: solid 1px;
}

// button
// {
//     background: none;
//     border:     none;
//     surface-icon
//     {
//         font-size: 20px;
//         color: gray;
//         &:active
//         {
//             color: red;
//         }
//     }
// }