<require path="@surface/components/data-table" />
<require path="@surface/components/stack-panel" />
<require path="@surface/components/switch" />

<style>
    surface-data-table
    {
        width: 50%;
        border-collapse:separate; 
        border-spacing: 2px 2px;
    }
    surface-data-cell
    {
        width: 150px;
        border-collapse: separate;
    }
    surface-data-row-group surface-data-cell
    {
        /*border:    solid gray 1px;*/
    }
    surface-data-footer-group surface-data-cell
    {
        /*border:     solid gray 1px; */
        /*border-top: solid red 2px; */
        /*border-collapse: separate; */
    }
</style>

<div>
    <surface-data-table datasource="[[host.datasource]]">
        <template>
            <data-template header="Id" field="id" style="width: 50px;"></data-template>
            <data-template header="Name"    field="name"  editable="true"></data-template>
            <data-template header="Email"   field="email" editable="true"></data-template>
            <data-template header="Country" field="country.name" group-by="true">
                <surface-stack-panel orientation="horizontal" distribuition="justify">
                    {{row.data.country.name}}&nbsp;&nbsp;<b>{{row.data.country.initials}}</b>
                </surface-stack-panel>
            </data-template>
            <data-template header="Active" aggregation="count" field="active" type="checkbox">
                <surface-switch value="{{row.editMode}}">
                    <template when="true">
                        <input type="checkbox" checked="{{row.data.active}}" />
                    </template>
                    <template when="false">
                        <span>{{row.data.active}}</span>
                    </template>
                </surface-switch>
            </data-template>
            <data-template header="Action" edit="true" delete="true" type="string"></data-template>
            <footer-template>
                <data-template style="margin-top: 100px;">
                    <span>{{host.max("id")}}</span>
                </data-template>
                <data-template style="margin-top: 100px;"><span>Name</span></data-template>
                <data-template style="margin-top: 100px;"><span>Email</span></data-template>
                <data-template style="margin-top: 100px;"><span>Country</span></data-template>
                <data-template style="margin-top: 100px;"><span>Active</span></data-template>
                <data-template style="margin-top: 100px;"></data-template>
            </footer-template>
        </template>
    </surface-data-table>
</div>

<input type="button" on-click="{{host.changeData()}}" value="Change values"/>

<surface-switch value="{{host.state}}">
    <template when="true">
        <span style="color: blue">ON</span>
    </template>
    <template when="false">
        <span style="color: red"><u>OFF</u></span>
    </template>
</surface-switch>