<link rel="stylesheet" href="./index.scss?file">
<h1>Enabled</h1>
<span style="--this-text-color: var(--smd-dark-text)">
    <smd-button>Click Me</smd-button>
    <smd-button outlined>Click Me</smd-button>
    <smd-button rounded>Click Me</smd-button>
    <smd-button rounded outlined>Click Me</smd-button>
    <smd-button tile>Click Me</smd-button>
    <smd-button tile outlined>Click Me</smd-button>
    <smd-button text>Click Me</smd-button>
    <smd-button text rounded>Click Me</smd-button>
    <smd-button text tile>Click Me</smd-button>
    <smd-button fab><smd-icon name="person"></smd-icon></smd-button>
    <smd-button icon><smd-icon name="person"></smd-icon></smd-button>
</span>
<h1>Light</h1>
<span style="background-color: var(--smd-light-background); --this-text-color: var(--smd-dark-text)">
    <smd-button light elevation="2">Click Me</smd-button>
    <smd-button light outlined>Click Me</smd-button>
    <smd-button light rounded>Click Me</smd-button>
    <smd-button light rounded outlined>Click Me</smd-button>
    <smd-button light tile>Click Me</smd-button>
    <smd-button light tile outlined>Click Me</smd-button>
    <smd-button light text>Click Me</smd-button>
    <smd-button light text rounded>Click Me</smd-button>
    <smd-button light text tile>Click Me</smd-button>
    <smd-button light fab><smd-icon name="person"></smd-icon></smd-button>
    <smd-button light icon><smd-icon name="person"></smd-icon></smd-button>
</span>
<h1>Dark</h1>
<span style="background-color: var(--smd-dark-background); --this-text-color: var(--smd-dark-text)">
    <smd-button dark elevation="2">Click Me</smd-button>
    <smd-button dark outlined>Click Me</smd-button>
    <smd-button dark rounded>Click Me</smd-button>
    <smd-button dark rounded outlined>Click Me</smd-button>
    <smd-button dark tile>Click Me</smd-button>
    <smd-button dark tile outlined>Click Me</smd-button>
    <smd-button dark text>Click Me</smd-button>
    <smd-button dark text rounded>Click Me</smd-button>
    <smd-button dark text tile>Click Me</smd-button>
    <smd-button dark fab><smd-icon name="person"></smd-icon></smd-button>
    <smd-button dark icon><smd-icon name="person"></smd-icon></smd-button>
</span>
<h1>Disabled</h1>
<span style="--this-text-color: var(--smd-dark-text)">
    <smd-button disabled>Click Me</smd-button>
    <smd-button disabled outlined>Click Me</smd-button>
    <smd-button disabled rounded>Click Me</smd-button>
    <smd-button disabled rounded outlined>Click Me</smd-button>
    <smd-button disabled tile>Click Me</smd-button>
    <smd-button disabled tile outlined>Click Me</smd-button>
    <smd-button disabled text>Click Me</smd-button>
    <smd-button disabled text rounded>Click Me</smd-button>
    <smd-button disabled text tile>Click Me</smd-button>
    <smd-button disabled fab><smd-icon name="person"></smd-icon></smd-button>
    <smd-button disabled icon><smd-icon name="person"></smd-icon></smd-button>
</span>
<h1>Block</h1>
<span style="display: inline-flex; align-items: center; margin: auto; height: 64px; width: 50%;">
    <smd-button text-color="dark:text" block rounded>Click Me</smd-button>
</span>