#import "@surface/components/button"
#import "@surface/components/icon"

<link rel="stylesheet" href="./index.scss?file">
<h1>Enabled</h1>
<hr/>
<span>
    <surface-button>Click Me</surface-button>
    <surface-button outlined>Click Me</surface-button>
    <surface-button rounded>Click Me</surface-button>
    <surface-button outlined rounded>Click Me</surface-button>
    <surface-button flat>Click Me</surface-button>
    <surface-button flat rounded>Click Me</surface-button>
    <surface-button fab><surface-icon name="person"></surface-icon></surface-button>
    <surface-button icon><surface-icon name="person"></surface-icon></surface-button>
</span>
<h1>Disabled</h1>
<hr/>
<span>
    <surface-button disabled>Click Me</surface-button>
    <surface-button disabled outlined>Click Me</surface-button>
    <surface-button disabled rounded>Click Me</surface-button>
    <surface-button disabled outlined rounded>Click Me</surface-button>
    <surface-button disabled flat>Click Me</surface-button>
    <surface-button disabled flat rounded>Click Me</surface-button>
    <surface-button disabled fab><surface-icon name="person"></surface-icon></surface-button>
    <surface-button disabled icon><surface-icon name="person"></surface-icon></surface-button>
</span>