#import "@surface/material-design/button"
#import "@surface/material-design/icon"

<link rel="stylesheet" href="./index.scss?file">
<h1>Enabled</h1>
<hr/>
<span>
    <smd-button elevation="2">Click Me</smd-button>
    <smd-button outlined>Click Me</smd-button>
    <smd-button rounded>Click Me</smd-button>
    <smd-button rounded outlined>Click Me</smd-button>
    <smd-button tile>Click Me</smd-button>
    <smd-button tile outlined>Click Me</smd-button>
    <smd-button text>Click Me</smd-button>
    <smd-button text rounded>Click Me</smd-button>
    <smd-button text tile>Click Me</smd-button>
    <smd-button fab><smd-icon name="person"></smd-icon></smd-button>
    <smd-button icon><smd-icon name="person"></smd-icon></smd-button>
</span>
<h1>Disabled</h1>
<hr/>
<span>
    <smd-button disabled>Click Me</smd-button>
    <smd-button disabled outlined>Click Me</smd-button>
    <smd-button disabled rounded>Click Me</smd-button>
    <smd-button disabled rounded outlined>Click Me</smd-button>
    <smd-button disabled tile>Click Me</smd-button>
    <smd-button disabled tile outlined>Click Me</smd-button>
    <smd-button disabled text>Click Me</smd-button>
    <smd-button disabled text rounded>Click Me</smd-button>
    <smd-button disabled text tile>Click Me</smd-button>
    <smd-button disabled fab><smd-icon name="person"></smd-icon></smd-button>
    <smd-button disabled icon><smd-icon name="person"></smd-icon></smd-button>
</span>
<h1>Disabled</h1>
<hr/>
<h1>Block</h1>
<span style="display: inline-flex; margin: auto; align-items: center; height: 64px; width: 50%; border: solid 1px red;">
    <smd-button block>Click Me</smd-button>
</span>