<surface-import from="@surface/components/stack-panel" />
<surface-import from="../../components/dummy-parent" />
<surface-import from="../../components/dummy-child" />

<surface-stack-panel>
    <input id="field" />
    <dummy-parent>
        <template slot="value" #slot-scope="foo">
            <span>Inside template</span>
            <dummy-child value="{{ host.references.field.value }}"></dummy-child>
        </template>
        <span><b>Outside Template:</b> {{ host.tagName }}</span>
    </dummy-parent>
    <span>{{ host.viewName }}</span>
    <template #if="host.visible">
        <span style="color: green">I'm ON :)</span>
    </template>
    <template #else>
        <span style="color: red">I'm OFF :(</span>
    </template>    
    <button on-click="{{ host.toogle() }}">Toggle visibility</button>
    <button on-click="{{ host.increment() }}">Increment</button>
    <button on-click="{{ host.decrement() }}">Decrement</button>
    <button on-click="{{ host.multiply() }}">Multiply</button>
    <template #if="host.visible" #for="item of host.items">
        <template #if="item % 2 == 0">
            <span>Id: {{ item }}</span>&nbsp;Even
        </template>
        <template #else-if="item % 2 == 1">
            <span>Id: {{ item }}</span>&nbsp;Odd
        </template>
    </template>
</surface-stack-panel>