<surface-import from="@surface/components/stack-panel" />
<surface-import from="../../components/dummy-parent" />
<surface-import from="../../components/dummy-child" />

<surface-stack-panel>
    <input id="field" />
    <dummy-parent>
        <span><b>Outside Template:</b>{{ this.nodeName }}</span>
        <template slot="items">
            <template #if="host.visible">
                Tag Name: {{ host.tagName }}
                <br>
                Bind: {{ host.references.field.value }}
            </template>
            <span>Scoped item: {{ item }}</span>
        </template>
        <div slot="value">
            <span><b>Inside template</b></span>
            <dummy-child value="{{ host.references.field.value }}"></dummy-child>
        </div>
        <template slot="value">
            <span><b>Inside template (Should be visible?)</b></span>
            <dummy-child value="{{ host.references.field.value }}"></dummy-child>
        </template>
    </dummy-parent>
    <span>{{ host.viewName }}</span>
    <template #if="host.visible">
        <span style="color: green">I'm ON :)</span>
    </template>
    <template #else>
        <span style="color: red">I'm OFF :(</span>
    </template>    
    <button on-click="{{ host.toogle() }}">Toggle visibility</button>
    <button on-click="{{ host.increment() }}">Increment</button>
    <button on-click="{{ host.decrement() }}">Decrement</button>
    <button on-click="{{ host.multiply() }}">Multiply</button>
    <template #if="host.visible" #for="item of host.items">
        <template #if="item % 2 == 0">
            <span>Id: {{ item }}</span>&nbsp;Even
        </template>
        <template #else-if="item % 2 == 1">
            <span>Id: {{ item }}</span>&nbsp;Odd
        </template>
    </template>
</surface-stack-panel>