<surface-stack-panel>
    <input type="button" on:click="host.increment()" value="Increment" />
    <input type="button" on:click="host.random()"    value="Random" />
    <slot></slot>
    <!-- <template #for="const item of host.items">
        --------------------
        <span><b>Some Header</b></span>
        <template #inject:items="items">
            <span>Some Default</span>
        </template>
        <span><b>Some Footer</b></span>
        --------------------
        <br>
    </template> -->
    <slot name="value"></slot>
</surface-stack-panel>
<surface-stack-panel>
    <template #for="const item of host.items" #injector:items="{ item }"></template>
    <template #injector:reactive="{ items: host.items }"></template>
</surface-stack-panel>