<input type="button" on:click="host.increment()" value="Increment" />
<input type="button" on:click="host.random()"    value="Random" />
<slot style="display: flex; flex-direction: column;"></slot>
<!-- <template #for="const item of host.items">
    --------------------
    <span><b>Some Header</b></span>
    <template #inject:items="items">
        <span>Some Default</span>
    </template>
    <span><b>Some Footer</b></span>
    --------------------
    <br>
</template> -->
<slot style="display: flex; flex-direction: column;" name="value"></slot>
<div style="display: flex; flex-direction: column;">
    <h1>injector:items</h1>
    <template #for="const item of host.items" #injector:items="{ item }"></template>
    <h1>injector:reactive</h1>
    <template #injector:reactive="{ items: host.items }"></template>
</div>