<h1>Enabled</h1>
<span>
    <smd-text-field></smd-text-field>
    <smd-text-field hint="Regular"></smd-text-field>
    <smd-text-field hint="Regular" persistent-hint></smd-text-field>
    <smd-text-field label="Regular"></smd-text-field>
    <smd-text-field label="Regular" hint="Regular"></smd-text-field>
    <smd-text-field label="Regular" hint="Regular" persistent-hint></smd-text-field>
    <smd-text-field value="Regular"></smd-text-field>
    <smd-text-field value="Regular" hint="Regular"></smd-text-field>
    <smd-text-field value="Regular" hint="Regular" persistent-hint></smd-text-field>
    <smd-text-field label="Regular" value="Regular"></smd-text-field>
    <smd-text-field label="Regular" value="Regular" hint="Regular"></smd-text-field>
    <smd-text-field label="Regular" value="Regular" hint="Regular" persistent-hint></smd-text-field>
</span>
<span>
    <smd-text-field filled></smd-text-field>
    <smd-text-field filled hint="Filled"></smd-text-field>
    <smd-text-field filled hint="Filled" persistent-hint></smd-text-field>
    <smd-text-field filled label="Filled"></smd-text-field>
    <smd-text-field filled label="Filled" hint="Filled"></smd-text-field>
    <smd-text-field filled label="Filled" hint="Filled" persistent-hint></smd-text-field>
    <smd-text-field filled value="Filled"></smd-text-field>
    <smd-text-field filled value="Filled" hint="Filled"></smd-text-field>
    <smd-text-field filled value="Filled" hint="Filled" persistent-hint></smd-text-field>
    <smd-text-field filled label="Filled" value="Filled"></smd-text-field>
    <smd-text-field filled label="Filled" value="Filled" hint="Filled"></smd-text-field>
    <smd-text-field filled label="Filled" value="Filled" hint="Filled" persistent-hint></smd-text-field>
</span>
<span>
    <smd-text-field outlined></smd-text-field>
    <smd-text-field outlined hint="Outlined"></smd-text-field>
    <smd-text-field outlined hint="Outlined" persistent-hint></smd-text-field>
    <smd-text-field outlined label="Outlined"></smd-text-field>
    <smd-text-field outlined label="Outlined" hint="Outlined"></smd-text-field>
    <smd-text-field outlined label="Outlined" hint="Outlined" persistent-hint></smd-text-field>
    <smd-text-field outlined value="Outlined"></smd-text-field>
    <smd-text-field outlined value="Outlined" hint="Outlined"></smd-text-field>
    <smd-text-field outlined value="Outlined" hint="Outlined" persistent-hint></smd-text-field>
    <smd-text-field outlined label="Outlined" value="Outlined"></smd-text-field>
    <smd-text-field outlined label="Outlined" value="Outlined" hint="Outlined"></smd-text-field>
    <smd-text-field outlined label="Outlined" value="Outlined" hint="Outlined" persistent-hint></smd-text-field>
</span>
<h1>Light</h1>
<span style="background-color: var(--smd-light-background)">
</span>
<h1>Dark</h1>
<span style="background-color: var(--smd-dark-background)">
</span>
<h1>Disabled</h1>
<span style="--this-text-color: var(--smd-dark-text)">
</span>